{% extends 'layout.html' %}

{% block content %}
<div class="container">
    <form method="POST" action="{{ url_for('search') }}" enctype="multipart/form-data">
      {{ form.hidden_tag() }}
      <div class="row rounded bg-search p-3">
        <div class="col-10">
          {{ form.content(class="form-control", placeholder="Search") }}
        </div>
        <div class="col-2">
          {{ form.submit(class="btn btn-primary w-100") }}
        </div>
      </div>
    </form>
  </div>
  </br>

{% if events %}
    {% for event in events %}
    <article class="media content-section">
        <div class="d-flex align-items-stretch">
            <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + event.author.image_file) }}">
        </div>
        <div class="d-flex flex-column bd-highlight mb-3">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="{{ url_for('org_events', username=event.author.username) }}">{{ event.author.username }}</a>
                    <small class="text-muted">{{ event.date_posted.strftime('%Y-%m-%d') }}</small>
                    {% if event.author == current_user %}
                        <div>
                            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('update_event', event_id=event.id) }}">
                                Update
                            </a>
                            <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
                        </div>
                    {% endif %}
                </div>
                <h2>{{ event.title }}</h2>
                <p class="article-content">{{ event.description }}</p>
            </div>
                <img
                    src="{{ url_for('static', filename='event_pics/' + event.image_file) }}"
                    style="object-fit: fill; width: 500px; height: 250px;">   
        </br>
            {% if current_user.role == 'user' %}
            <div class="d-flex bd-highlight mb-3">
                <div class=" p-2 bd-highlight ">
                    <a class="btn btn-primary mb-2" href="{{ url_for('enroll', user_id=user.id, event_id=event.id) }}">Enroll</a>
                </div>
                <!-- <div class=" p-2 bd-highlight ">
                    <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteModal">Not instrested</button>
                </div> -->
            </div>
            {% endif %}
        </div>            
    </article>
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="deleteModalLabel">Delete Event?</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <form action="{{ url_for('delete_event', event_id=event.id) }}" method="POST">
                <input class="btn btn-danger" type="submit" value="Delete">
              </form>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
{% else %}      
        <h-search>Use the search bar to search for a event based on any keywords</h-search> 
{% endif %}
      

{% endblock content %}


